<!DOCTYPE html>
<html>
  <head>
    <title>Crime Analysis</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <a class="logo" href="/">Home</a>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="report">State Statistics</a></li>
        <li><a href="regression">Linear Regression</a></li>
        <li><a href="trends">Trends</a></li>
        <li><a href="ranking">Ranking</a></li>
        <li><a href="about">Database Information</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h1>US Crime Analysis</h1>
        <!-- <p>
          Find yourself a safer home<br />
          Be safe out there
        </p> -->
      </div>
      <video autoplay loop muted playsinline src="/images/banner.mp4"></video>
    </section>

    <!-- Highlights -->
    <section class="wrapper">
      <div class="inner">
        <header class="special">
          <h2>About Project</h2>
          <p>
            Created a working prototype that could serve as an indicator to
            people of US regarding ...
          </p>
        </header>
        <div class="highlights">
          <section>
            <div class="content">
              <header>
                <a href="report"><h3>State Statistics</h3></a>
              </header>
              <p>
                View Detailed Reports about crime occuring on a given day
                between specific hours
                <br />
                Information retained includes age, sex, descent of the victim
                along with current status of the investigation
              </p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="regression"><h3>Linear Regression</h3></a>
              </header>
              <p>
                Compare the crime statistics for different areas along with
                yearly and age comparisions. <br />
                Returns bar graphs to gain further insights
              </p>
            </div>
          </section>

          <section>
            <div class="content">
              <header>
                <a href="trends"><h3>Trends</h3></a>
              </header>
              <p>
                Trends of crime rate in different areas over a given period of
                time <br />
                Trends of crime rate in different areas based on victim age
                groups <br />
              </p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="ranking"> <h3>Ranking</h3></a>
              </header>
              <p>
                Areas are ranked on various factors like most crime occured<br />
                which weapons are used the most in crimes etc<br />
              </p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="about"><h3>Database Information</h3></a>
              </header>
              <p>
                This page gives Information about the source of the data along
                with the count of records in various tables <br />
                It also shows some interesting facts
              </p>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
